<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="MSI"/>
		<add key="Database" value="MyShop"/>
		<add key="IsWindowsAuthentication" value="true"/>
		<add key="Username" value="sa"/>
		<add key="Password" value="123456"/>
		<add key="LastPage" value=""/>
	</appSettings>
</configuration>